In [22]:
import pandas as pd

In [23]:
data = pd.read_csv('data/mroc/mroc_prec.csv')
data.head()

,Año,Mes,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
0,2010,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2010,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.1,0.1,0.0,9.4,0.0,0.0,0.0,NaN,NaN,NaN
2,2010,3,20.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2010,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.6,2.5,13.3,0.0,34.6,16.8,5.2,41.2,NaN
4,2010,5,1.5,NaN,12.3,4.3,0.7,0.0,0.0,0.0,...,8.0,33.6,32.8,1.5,16.5,4.4,0.8,0.0,0.0,0.0

In [24]:
data.shape

(127, 33)

In [25]:
enero = data.query("Mes == 1")
enero.head()

,Año,Mes,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
0,2010,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2011,1,0.0,3.2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2012,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2014,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
enero.shape

(11, 33)

In [27]:
data.shape

(127, 33)

In [28]:
days_of_month = [col for col in enero.columns.values.tolist() if col != "Año" and col != "Mes"]
enero["sum"] = enero[days_of_month].sum(axis=1)
enero.head(11)

/home/diego/.local/share/virtualenvs/climatology-airports-cPlJOxKm/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Año,Mes,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,sum
0,2010,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
12,2011,1,0.0,3.2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.3
24,2012,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
31,2013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
43,2014,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7
55,2015,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67,2016,1,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1
79,2017,1,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8
91,2018,1,0.0,0.0,0.2,0.0,0.0,0.0,3.8,3.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.2
103,2019,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
115,2020,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.6,1.0,0.2,0.0,0.0,2.0

In [29]:
enero["sum"].mean(skipna=False)

3.7363636363636363

In [30]:
enero["8"].sum() / enero.shape[0]

0.38181818181818183

In [31]:
enero["8"].mean(skipna=False)

nan

In [32]:
febrero = data.query("Mes == 2")
febrero.head(11)

,Año,Mes,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
1,2010,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.1,0.1,0.0,9.4,0.0,0.0,0.0,NaN,NaN,NaN
13,2011,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.6,0.0,3.8,NaN,NaN,NaN
32,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.1,0.0,0.8,0.0,NaN,NaN,NaN
44,2014,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
56,2015,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
68,2016,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
80,2017,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
92,2018,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,2.2,0.0,0.0,0.0,NaN,NaN,NaN
104,2019,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
116,2020,2,0.0,0.0,0.0,0.0,0.0,0.0,3.8,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [33]:
days_of_month = [col for col in febrero.columns.values.tolist() if col != "Año" and col != "Mes"]
febrero["sum"] = febrero[days_of_month].sum(axis=1)
febrero.head(11)

/home/diego/.local/share/virtualenvs/climatology-airports-cPlJOxKm/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Año,Mes,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,sum
1,2010,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.1,0.0,9.4,0.0,0.0,0.0,NaN,NaN,NaN,11.1
13,2011,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.6,0.0,3.8,NaN,NaN,NaN,21.4
32,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.1,0.0,0.8,0.0,NaN,NaN,NaN,6.9
44,2014,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,18.3
56,2015,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,3.7
68,2016,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
80,2017,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,3.8
92,2018,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,2.2,0.0,0.0,0.0,NaN,NaN,NaN,6.2
104,2019,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0
116,2020,2,0.0,0.0,0.0,0.0,0.0,0.0,3.8,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,4.0

In [34]:
febrero["sum"].mean()

7.540000000000001

In [35]:
febrero["29"].sum() / febrero.shape[0]

0.0

In [36]:
febrero["29"].mean()

0.0

In [37]:
febrero[days_of_month].max(skipna=True)

1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      3.8
8      0.0
9      0.8
10    14.4
11     0.0
12    18.3
13     0.0
14     0.0
15     0.4
16     0.0
17     0.0
18     3.8
19     0.2
20     0.0
21     0.5
22     1.1
23     0.1
24     4.0
25     9.4
26     2.6
27     0.8
28     3.8
29     0.0
30     NaN
31     NaN
dtype: float64

In [38]:
febrero[days_of_month].max(axis=1)

1       9.4
13     14.4
32      6.1
44     18.3
56      2.9
68      0.0
80      3.8
92      4.0
104     0.0
116     3.8
dtype: float64

In [39]:
febrero[days_of_month].max(axis=1).max()

18.3

In [40]:
febrero.head(11)

,Año,Mes,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,sum
1,2010,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.1,0.0,9.4,0.0,0.0,0.0,NaN,NaN,NaN,11.1
13,2011,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.6,0.0,3.8,NaN,NaN,NaN,21.4
32,2013,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.1,0.0,0.8,0.0,NaN,NaN,NaN,6.9
44,2014,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,18.3
56,2015,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,3.7
68,2016,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
80,2017,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,3.8
92,2018,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,2.2,0.0,0.0,0.0,NaN,NaN,NaN,6.2
104,2019,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0
116,2020,2,0.0,0.0,0.0,0.0,0.0,0.0,3.8,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,4.0

In [41]:
df = febrero[days_of_month[:-3]].copy()
for day in days_of_month[:-3]:
    mean_prec = df[day].mean()
    df[day] = df[day].fillna(mean_prec if mean_prec >= 0.1 else 0.0)
df['dias con lluvia'] = (df != 0.0).T.sum()
df

,1,2,3,4,5,6,7,8,9,10,...,20,21,22,23,24,25,26,27,28,dias con lluvia
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.5,1.100000,0.1,0.000000,9.4,0.0,0.0,0.0,4
13,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,14.400000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,2.6,0.0,3.8,5
32,0.0,0.0,0.0,0.0,0.0,0.0,0.422222,0.0,0.0,1.922222,...,0.0,0.0,0.122222,0.0,0.444444,6.1,0.0,0.8,0.0,8
44,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,1
56,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.8,2.900000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,2
68,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0
80,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,1
92,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,4.000000,2.2,0.0,0.0,0.0,2
104,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0
116,0.0,0.0,0.0,0.0,0.0,0.0,3.800000,0.0,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,2

In [42]:
df["dias con lluvia"].mean()

2.5

## Se suma 0.1 al valor para que el redondeo salga bien

In [43]:
round(df["dias con lluvia"].mean() + 0.01)

3

In [44]:
round(0.47 + 0.01)

0

In [45]:
from decimal import Decimal, ROUND_HALF_UP, getcontext

#getcontext().prec = 6

print(Decimal(1.5).quantize(Decimal(".1"), ROUND_HALF_UP))
print(type(Decimal(1.3).quantize(0, ROUND_HALF_UP)))
print(int(Decimal(1.3).quantize(0, ROUND_HALF_UP)))
print(type(int(Decimal(1.3).quantize(0, ROUND_HALF_UP))))

Decimal(1.5).to_integral_value(rounding=ROUND_HALF_UP)

1.5
<class 'decimal.Decimal'>
1
<class 'int'>

Decimal('2')

In [46]:
print(rounded(0.5))
print(rounded(1.5854623))
print(rounded(510.548326))
print(rounded(0.212235))
print(rounded(10.00000002))
print(rounded(1005.500000005))

NameError: name 'rounded' is not defined

In [47]:
print(rounded(0.5), 1)
print(rounded(1.5854623), 1)
print(rounded(510.548326), 1)
print(rounded(0.212235), 1)
print(rounded(10.00000002), 1)
print(rounded(1005.500000005), 1)

NameError: name 'rounded' is not defined

In [21]:
float(Decimal(5.50000000000000000001).quantize(Decimal("1."), ROUND_HALF_UP))

6.0

In [52]:
febrero[days_of_month].max(axis=1).max()

18.3

In [1]:
latex_text_header = """
\\begin{table}[htb]
\caption{Resumen de variables meteorológicas, \icaoCode{} \yearsRange{}.}
\label{table:resumen}
\\begin{center}
\\begin{tabular}{>{\centering}p{0.12\\textwidth}>
{\centering}p{0.1\\textwidth}>
{\centering}p{0.1\\textwidth}>
{\centering}p{0.1\\textwidth}>
{\centering}p{0.1\\textwidth}>
{\centering}p{0.1\\textwidth}>
{\centering\\arraybackslash}p{0.1\\textwidth}}
\headrow
\\textbf{Mes} & \\textbf{Temperatura máxima extrema (°C)} & \\textbf{Temperatura mínima extrema (°C)} & \\textbf{Temperatura máxima media (°C)} & \\textbf{Temperatura mínima media (°C)} & \\textbf{Precipitación total media (mm)} & \\textbf{Días con precipitación}\\\\
"""

In [3]:
print(latex_text_header)

\begin{table}[htb]
\caption{Resumen de variables meteorológicas, \icaoCode{} \yearsRange{}.}
\label{table:resumen}
\begin{center}
\begin{tabular}{>{\centering}p{0.12\textwidth}>
{\centering}p{0.1\textwidth}>
{\centering}p{0.1\textwidth}>
{\centering}p{0.1\textwidth}>
{\centering}p{0.1\textwidth}>
{\centering}p{0.1\textwidth}>
{\centering\arraybackslash}p{0.1\textwidth}}
\headrow
\textbf{Mes} & \textbf{Temperatura máxima extrema (°C)} & \textbf{Temperatura mínima extrema (°C)} & \textbf{Temperatura máxima media (°C)} & \textbf{Temperatura mínima media (°C)} & \textbf{Precipitación total media (mm)} & \textbf{Días con precipitación}\\

In [4]:
latex_text_footer = """
\hline  % Please only put a hline at the end of the table
\end{tabular}
\end{center}

\\begin{tablenotes}
\item \\textbf{Palabras clave:} \\airportName{}, cambio de viento, cimatología aeronáutica, mínimos operativos, variables meteorológicas.
\end{tablenotes}
\end{table}
"""

In [5]:
print(latex_text_footer)

\hline  % Please only put a hline at the end of the table
\end{tabular}
\end{center}

\begin{tablenotes}
\item \textbf{Palabras clave:} \airportName{}, cambio de viento, cimatología aeronáutica, mínimos operativos, variables meteorológicas.
\end{tablenotes}
\end{table}